<h1><%= @consultant.firstname %> <%= @consultant.lastname %></h1>

<p>
    Project handled:<br>
    <%= link_to @consultant.project.name, project_path(@consultant.project.id) %> (<%= link_to @consultant.project.customer.name, customer_path(@consultant.project.customer.id) %>)
</p>

<p>
    Assign to:<br>
    <% @projects.each do |p| %>
        <%= link_to p.name, consultant_path({id:@consultant.id, proj:p.id}), method: :patch %><br>
    <% end %>
</p>

<p>
    <%= link_to 'Back', consultants_path %>
</p>
