<p>
    <strong>Name:</strong><br>
    <%= @customer.name %>
</p>
<p>
    <strong>Description:</strong><br>
    <%= @customer.description %>
</p>

<p>
    <strong>Projects</strong><br>
    <% @customer.projects.each do |p| %>
        <%= link_to p.name, customer_project_path({customer_id:@customer.id,id:p.id}) %><br>
    <% end %>
</p>

<p>
    <%= link_to 'Create new project for this customer', new_customer_project_path(@customer.id) %>
</p>

<p>
    <%= link_to 'Back to customers', customers_path %>
</p>

