<h1>Project: <%= @project.name %> (<%= @project.customer.name %>)</h1>

<p>
    <strong>Description:</strong><br>
    <%= @project.description %>
</p>

<p>
    Assigned to <%= link_to @project.consultant.full_name, consultant_path(@project.consultant.id) %>.
</p>

<p>
    <%= link_to 'Back to projects', projects_path %><br>
    <%= link_to 'Back to ' + @project.customer.name, customer_path(@project.customer.id) %>
</p>
