<h1><%= @project.name %></h1>

<p>
    <strong>Customer:</strong><br>
    <%= link_to @project.customer.name, customer_path(@project.customer.id) %>
</p>


<p>
    <strong>Consultant:</strong><br>
    <%= link_to @project.consultant.full_name, consultant_path(@project.consultant.id) %>
</p>

<p>
    <%= link_to 'Delete this project', customer_project_path({customer_id: @project.customer.id, id: @project.id}), method: :delete, data: {confirm: 'Are you sure?'} %>
</p>

<p>
    Timeframe: <%= @project.startdate %> - <%= @project.enddate %>.
</p>

<p>
    <%= link_to 'Back', customer_path(@project.customer.id) %>
</p>
